.example-card {
    max-width: 400px;
    margin: 20px;
    border: 1px solid black;
    float: left;
  }
  
  .example-header-image {
    background-image: url('http://localhost:8090/office.jpg');
    background-size: cover;
  }
  