<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{current.title}}</mat-card-title>
      <mat-card-subtitle>India</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://localhost:8090/{{current.photo}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          {{current.address}} <br/>
          {{current.city}} <br/>
          {{current.state}} <br/>
      </p>
    </mat-card-content>

  </mat-card>
  